version: "3.7"
services:
  trac:
    build: .
    # image: pabloszx/trac-v2
    restart: always
    ports:
      - "3000:3000"
    environment:
      COMPOSE_PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
      PORT: 3000
      DOMAIN: ${DOMAIN}
      SECRET: ${SECRET}
      COOKIE_SECRET: ${COOKIE_SECRET}
      NODE_ENV: production
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      EMAIL_ADDRESS: ${EMAIL_ADDRESS}
      EMAIL_ADDRESS_NAME: ${EMAIL_ADDRESS_NAME}
      EMAIL_ADDRESS_REPLY_TO: ${EMAIL_ADDRESS_REPLY_TO}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      SELECTED_PROGRAMS: ${SELECTED_PROGRAMS}
      ANONYMOUS_ID_SERVICE: ${ANONYMOUS_ID_SERVICE}
      INFO_SESSION_ID_RESULT: ${INFO_SESSION_ID_RESULT}
      HELPDESK_VERIFYCUSTOMER_URL: ${HELPDESK_VERIFYCUSTOMER_URL}
      HELPDESK_CUSTOMER_CODE: ${HELPDESK_CUSTOMER_CODE}
      HELPDESK_CUSTOMER_LOGIN_URL: ${HELPDESK_CUSTOMER_LOGIN_URL}
      HELPDESK_ADMIN_LOGIN_URL: ${HELPDESK_ADMIN_LOGIN_URL}
      HELPDESK_ANON_TICKET_CREATION_URL: ${HELPDESK_ANON_TICKET_CREATION_URL}
      HELPDESK_ADMIN_EMAIL_ADDRESS: ${HELPDESK_ADMIN_EMAIL_ADDRESS}
      HELPDESK_ADMIN_CODE: ${HELPDES_ADMIN_CODE}
      
      # SHOW_GRAPHQL_API: true
